<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Waste_Tracker.Properties.Settings.SandboxConnectionString"
      connectionString="Data Source=compasspowerbi;Initial Catalog=Sandbox;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SandboxEntities" connectionString="metadata=res://*/WasteTrackerDataModel.csdl|res://*/WasteTrackerDataModel.ssdl|res://*/WasteTrackerDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=Sandbox;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Waste_Tracker.Properties.Settings.ParConnectionString"
      connectionString="Server=tcp:compassbiazure.database.windows.net,1433;Initial Catalog=FieldSiteDB;Persist Security Info=False;User ID=FieldApps;Password=K%Th8#30!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;" />
    <add name="Waste_Tracker.Properties.Settings.FieldSiteDBConnectionString"
      connectionString="Data Source=compassbiazure.database.windows.net;Initial Catalog=FieldSiteDB;Persist Security Info=True;User ID=FieldApps;Password=K%Th8#30!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>